<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="GoogleSearchEngine" value="000337826610893293511:uv2ahpmhnbc"/>
    <add key="GoogleCustomSearchApiKey" value="AIzaSyCD6zmy3g42XnylIIuh88nRY-xLOcQCLvs"/>
    <add key="GoogleCustomSearchApiUrl" value="https://www.googleapis.com/customsearch/v1?key={0}&amp;cx={1}&amp;q={2}"/>

    <add key="BingWebSearchApiUrl" value="https://api.cognitive.microsoft.com/bing/v5.0/search?q={0}"/>
    <add key="BingWebSearchApiKey1" value="1c66098050ea4cc7a7d4ff8ad8412bae"/>
    <add key="BingWebSearchApiKey2" value="04cc15fdd8ee408f8be4452b1829423b"/>
    <add key="BingWebSearchApiKeyHeaderName" value="Ocp-Apim-Subscription-Key"/>
  </appSettings>
</configuration>